<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Magento_TestSuite" parallel="false">
  <test name="MagentoTest">
   <classes>
     <class name="TestNGFramework_TestCases.SampleTestNGTest1"/>  
     <class name="TestNGFramework_TestCases.SampleTestNGTest2"/>         
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
